[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "third_party/juce-cmake"]
	path = third_party/juce-cmake
	url = https://github.com/remymuller/juce-cmake.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "juce-utils"]
	path = juce-utils
	url = https://github.com/christofmuc/juce-utils.git
[submodule "MidiKraft-sequential-rev2"]
	path = MidiKraft-sequential-rev2
	url = https://github.com/christofmuc/MidiKraft-sequential-rev2.git
[submodule "MidiKraft-base"]
	path = MidiKraft-base
	url = https://github.com/christofmuc/MidiKraft-base.git
[submodule "juce-widgets"]
	path = juce-widgets
	url = https://github.com/christofmuc/juce-widgets.git
[submodule "pytschirp"]
	path = pytschirp
	url = https://github.com/christofmuc/pytschirp.git
[submodule "MidiKraft-librarian"]
	path = MidiKraft-librarian
	url = https://github.com/christofmuc/MidiKraft-librarian.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "MidiKraft-kawai-k3"]
	path = MidiKraft-kawai-k3
	url = https://github.com/christofmuc/MidiKraft-kawai-k3.git
	branch = master
[submodule "MidiKraft-BCR2000"]
	path = MidiKraft-BCR2000
	url = https://github.com/christofmuc/MidiKraft-BCR2000.git
	branch = master
